<!doctype html>
<meta charset="utf-8">
<title>Hash Archive: Error</title>
<link rel="stylesheet" type="text/css" href="/index.css">

<h1 class="margin"><a href="/">Hash Archive</a> <sup>(beta)</sup></h1>

<form class="lookup margin" method="post" action="/lookup">
<label>URL or hash:</label>
<div class="field wrap"><input type="text" name="str" value="{{query}}"></div>
<div class="submit wrap"><input type="submit" value="Lookup"></div>
</form>

<h2 class="margin break">Parse error...</h2>

<div class="margin">
<p>Query was not a supported URL or hash. Please see <a href="/">the examples</a>.</p>
<p>If you think this page was generated in error, please <a href="https://github.com/btrask/hash-archive/issues">report</a> the query you gave.</p>
</div>

