<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hash Archive - History for {{query}}</title>
<link rel="stylesheet" type="text/css" href="/index.css">

<h1 class="margin"><a href="/">Hash Archive</a> <sup>(beta)</sup></h1>

<form class="lookup margin" method="post" action="/lookup">
<label>URL or hash:</label>
<div class="field wrap"><input type="text" name="str" value="{{query}}"></div>
<div class="submit wrap"><input type="submit" value="Lookup"></div>
</form>

<h2 class="margin break">History for {{url-link}}</h2>

<ul>
<li><a href="{{wayback-url}}">Check this URL on the Wayback Machine</a>
<li><a href="{{google-url}}">Check this URL on Google Cache</a>
<li><a href="{{virustotal-url}}">Check this URL on VirusTotal</a>
</ul>

<div class="margin">Hashes for dynamically generated pages may be unstable.</div>
<div class="margin">Greyed out hashes are potentially vulnerable to collisions. SHA-256 is recommended for current and future use.</div>
<div class="margin">MultiHashes are not compatible with IPFS, and Magnet URIs are not compatible with BitTorrent, due to the way each protocol <a href="/#compat">computes its hashes</a>.</div>

