<div class="entry margin">
<div>{{date}}</div>

<div>
<p><a href="https://github.com/hash-uri/hash-uri">Hash URIs</a> (hex encoded):</p>
<ul>{{hash-uri-list}}</ul>
</div>

<div>
<p><a href="https://tools.ietf.org/html/rfc6920">Named Info</a> (base64-url encoded):</p>
<ul>{{named-info-list}}</ul>
</div>

<div>
<p><a href="https://github.com/jbenet/multihash">MultiHashes</a> (base58 encoded):</p>
<ul>{{multihash-list}}</ul>
</div>

<div>
<p><a href="https://www.w3.org/TR/SRI">Subresource Integrity</a> (base64 encoded):</p>
<ul>{{prefix-list}}</ul>
</div>

<div>
<p><a href="https://github.com/ssbc/docs/blob/master/ssb/linking.md">SSB</a> (base64 encoded):</p>
<ul>{{ssb-list}}</ul>
</div>

<div>{{dates}}</div>
</div>

