<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hash Archive - Sources for {{query}}</title>
<link rel="stylesheet" type="text/css" href="/index.css">

<h1 class="margin"><a href="/">Hash Archive</a> <sup>(beta)</sup></h1>

<form class="lookup margin" method="post" action="/lookup">
<label>URL or hash:</label>
<div class="field wrap"><input type="text" name="str" value="{{query}}"></div>
<div class="submit wrap"><input type="submit" value="Lookup"></div>
</form>

<h2 class="margin break">Sources for {{hash-link}}</h2>

<ul>
<li><a href="{{google-url}}">Search for this hash on Google</a>
<li><a href="{{duckduckgo-url}}">Search for this hash on DuckDuckGo</a>
<li><a href="{{ipfs-block-url}}">Search for this block on IPFS</a>
<li><a href="{{virustotal-url}}">Check this hash on VirusTotal</a>
<li>Other useful sources...?
</ul>

{{weak-hash-warning}}


